.example {
    position: relative;
    padding: 1rem;
    margin: 1rem auto;
    background-color: #c4dac2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.breadcrumb {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

#login-container {
    max-width: 500px;
}